/* FONTS */
@font-face {
    font-family: "outfit";
    src: url(../fonts/Outfit/Outfit-VariableFont_wght.ttf);
}

/* ELEMENTS GLOBAL */
body{
    background-color: #d5e1ef;
    font-family: "outfit",Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

/* ELEMENTS HTML  */
img {
    border-radius: 15px;
    width: 100%;
}
h1{
    font-weight: 700;
}
p{
    color: hsl(210, 5%, 66%);
    font-size: 15px;
    font-weight: 400;
    padding: 0 4%;
}

/* ELEMENTS SECTION */
section {
    background-color: white;
    text-align: center;
    border-radius: 20px;

    width: 288px;
    display: flex;
    flex-direction: column;
    padding: 15px;  
}